.FieldTable {
  .v-data-table__wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
    td {
      border-bottom: 0 !important;
    }
    td:last-child {
      padding-right: 15px !important;
    }
    td:first-child {
      padding-left: 5px !important;
    }
  }
}

.vue-codemirror {
  border-radius: 6px !important;
}

.CodeMirror {
  border-radius: 5px !important;
}

.PageAlert {
  border-radius: 0;
  .v-alert__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.TextInput {

}

.TextInput--no-legend {
  legend {
    width: 0 !important;
  }

  .v-label.v-label--active {
    display: none;
  }
}